@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  overflow: hidden;
  background: #fef3c7;
}
